.top-container {
    background-color: #C4DDFF;
    position: relative;
    padding-top: 100px;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 600%;
    color: #001D6E;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #001D6E;
    font-weight: normal;
    margin-bottom: 15px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #001D6E;
}

body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.bottom-cloud {
    bottom: 300px;
    position: absolute;
    left: 200px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 200px;
}

.main-text {
    position: relative;
    top: 30px;
}

.profile-pic {
    border-radius: 100%;
    padding-top: 20px;
}

.computer {
    height: 10%;
    width: 25%;
    float: left;
    padding: 30px;
}

.music {
    height: 10%;
    width: 25%;
    text-align: right;
    float: right;
    padding-left: 30px;
}

.mountain {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    position: relative;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2.4rem;
}

.main-bio {
    width: 35%;
    margin: auto;
    line-height: 2.4rem;
    margin-top: 0;
}